body {
    background-image: url(../img/denim.webp);
    background-repeat: repeat;
}
div {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}
.box {
    background-color: yellow;
    color: white;
    width: 300px;
    margin: 50px;
    border: pink;
    padding: 50px;
    border-style: solid;
    background-image: url(../img/pompei.jpg);

}

.box2 {
    background-color: blue;
    width: 300px;
    margin: 50px;
    border: pink;
    padding: 50px;
    border-style: solid;
    background-image: url(../img/pompei.jpg);
}

.box3 {
    background-color: blue;
    width: 300px;
    margin: 100px 50px -300px;
    border: pink;
    padding: 10px 25px;
    border-style: solid;
    background-image: url(../img/pompei.jpg);

}