body {
    background-color: rgb(32, 32, 109);
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: pink;
}

.first-para {
    font-size: 45px;
    color: yellow;
}
.highlights {
    background-color: orange;
}

h2 {
    font-size: 45px;
    color: pink;
}

.top-section {
    color: green;
    background-color: black;
}

.bottom-section {
    color: red;
    background-color: black;
}

